body{
    padding: 0;

}
.header{
display: flex;
flex-direction: row;
height: 50px;
border-top-style: outset;
border-left-style: outset;
border-bottom-style:inset;
border-right-style:inset;
width: 1236px;
}
.mob{
    margin-top: -14px;
    padding-left: 33px;
}
.shop{
  color: rgb(242, 70, 185); 
  padding-left: 234px;
  font-size: 20px;
  margin-top: -6px;
}
.coverage{
    color: rgb(242, 70, 185); 
   padding-left: 106px;
   margin-top: 14px;
   font-size: 20px;
  } 
.main-content{
    width: 1424px;
}
.search{
    width: 30px;
    margin-left: 193px;
    margin-top: 16px;
}
.store{
    margin-left: 124px;
    margin-top: -22px; 
    
}
.cart{
    margin-left: -26px;
    margin-top: -23px;  
}
.my{
    margin-left: -17px;
    margin-top: -1px;  
}

